body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.create-form .ant-card-body {
  padding: 12px 24px 0px 24px !important;
  border-radius: 0 0 8px 8px;
}

.create-form .ant-form-item {
  margin-bottom: 14px !important;
}

.page-bg-selector {
  background: linear-gradient(135deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
  color: #fff; 
}